DATABASE_URL="file:./burkmak.db"

# App
NODE_ENV=development
PORT=3000
APP_VERSION=0.0.0-dev
CORS_ORIGINS=http://localhost:3001

# Better Auth
BETTER_AUTH_SECRET=change-me-in-production
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_BASE_PATH=/api/v1/auth
